.vscode
Guloso.o
ReadaOut.o
Veiculo.o
testeGuloso.exe
testeGuloso
testeThirdparty.exe
testeThirdParty
ThirdParty.o
teste01.o
teste01
testeVNDListAdj
testeVNDListAdj.o
main.o
testemain
testemain.exe
teste01.exe
mainner.exe
testeVNDlistAdj.exe
VNDtwoopt.o
VNDswap.o
VNDVSwap.o
mainner